{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %} 
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="place">place:</label>
        <input type="text" id="place" name="place" value="{{place}}"></br></br>
        <label for="noun">noun:</label>
        <input type="text" id="noun" name="noun" value="{{noun}}"></br></br>
        <label for="verb">verb:</label>
        <input type="text" id="verb" name="verb" value="{{verb}}"></br></br>
        <label for="adjective">adjective:</label>
        <input type="text" id="adjective" name="adjective" value="{{adjective}}"></br></br>
        <label for="plural_noun">plural_noun:</label>
        <input type="text" id="plural_noun" name="plural_noun" value="{{plural_noun}}"></br></br>
        <label for="selected_story">story:</label>
        <select name="selected_story" id="selected_story">
            <option value="Story 1">Story 1</option>
            <option value="Story 2">Story 2</option>
            <option value="Story 3">Story 3</option>
            <option value="Story 4">Story 4</option>
            <option value="Story 5">Story 5</option>
        </select></br></br>
        <button type="submit">Submit</button>
    </form>
{% endblock%}